/vendor
/composer.lock
/db.sqlite
/bower_components
/node_modules
npm-debug.log
.sass-cache
*.local.php
!/cache
/cache/*
!/cache/routing
/cache/routing/*
!/cache/routing/.gitkeep
!/cache/typo3.fluid
/cache/typo3.fluid/*
!/cache/typo3.fluid/.gitkeep
!/cache/doctrine
/cache/doctrine/*
!/cache/doctrine/.
