<?xml version="1.0"?>
<phpunit
		bootstrap="tests/Bootstrap.php"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		verbose="true"
		stopOnFailure="false"
		processIsolation="false"
		backupGlobals="false"
		syntaxCheck="true"
		backupStaticAttributes="false"
		forceCoversAnnotation="false"
		stopOnError="false"
		stopOnIncomplete="false"
		stopOnSkipped="false"
		>
	<testsuites>
		<testsuite name="Bleicker/Cms Unit">
			<directory>./tests/Unit</directory>
		</testsuite>
		<testsuite name="Bleicker/Cms Functional">
			<directory>./tests/Functional</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
		</whitelist>
	</filter>
</phpunit>
