<f:alias map="{configurations: '{node->cms:possibleChildrenConfigurations()}'}">
	<f:if condition="{configurations->f:count()}">
		<form class="form" action="/nodemanager/add/{node.id}" method="post">
			<fieldset>
				<legend>Insert new node into</legend>
				<div class="form-group">
					<f:render partial="Forms/PossibleChildrenSelection" arguments="{configurations:configurations}"/>
				</div>
				<div class="form-group">
					<button type="submit" name="mode" value="into" class="btn btn-primary">Into</button>
				</div>
			</fieldset>
		</form>
	</f:if>
</f:alias>
<f:alias map="{configurations: '{node.parent->cms:possibleChildrenConfigurations()}'}">
	<f:if condition="{configurations->f:count()}">
		<form class="form" action="/nodemanager/add/{node.id}" method="post">
			<fieldset>
				<legend>Insert new node before</legend>
				<div class="form-group">
					<f:render partial="Forms/PossibleChildrenSelection" arguments="{configurations:configurations}"/>
				</div>
				<div class="form-group">
					<button type="submit" name="mode" value="before" class="btn btn-primary">Before</button>
				</div>
			</fieldset>
		</form>
		<form class="form" action="/nodemanager/add/{node.id}" method="post">
			<fieldset>
				<legend>Insert new node after</legend>
				<div class="form-group">
					<f:render partial="Forms/PossibleChildrenSelection" arguments="{configurations:configurations}"/>
				</div>
				<div class="form-group">
					<button type="submit" name="mode" value="after" class="btn btn-primary">After</button>
				</div>
			</fieldset>
		</form>
	</f:if>
</f:alias>
</form>
