<f:fluid xmlns:cms="Bleicker\Cms\ViewHelpers"/>

<form class="form" action="/nodemanager/add/{node.id}" method="post">
	<fieldset>
		<legend>Insert new node</legend>
		<div class="form-group">
			<label for="nodetype">Type</label>
			<select id="nodetype" name="nodeType" class="form-control">
				<f:groupedFor each="{cms:registeredNodeTypes()}" as="nodeTypes" groupBy="group" groupKey="nodeGroup">
					<optgroup label="{nodeGroup}">
						<f:for each="{nodeTypes}" as="nodeType" key="type">
							<option value="{type}">{nodeType.label}</option>
						</f:for>
					</optgroup>
				</f:groupedFor>
			</select>
		</div>
	</fieldset>
	<div class="form-group">
		<button type="submit" name="mode" value="into" class="btn btn-primary">Into</button>
		<button type="submit" name="mode" value="after" class="btn btn-primary">After</button>
		<button type="submit" name="mode" value="before" class="btn btn-primary">Before</button>
	</div>
</form>
