<form class="form" action="/nodemanager/add/{node.id}" method="post">
	<fieldset>
		<legend>Insert new node</legend>
		<div class="form-group">
			<f:render partial="Forms/PossibleChildrenSelection" arguments="{node:node}"/>
		</div>
	</fieldset>
	<div class="form-group">
		<button type="submit" name="mode" value="into" class="btn btn-primary">Into</button>
		<button type="submit" name="mode" value="after" class="btn btn-primary">After</button>
		<button type="submit" name="mode" value="before" class="btn btn-primary">Before</button>
	</div>
</form>
