@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top: $navbar-height + $grid-gutter-width;
}

.col-first {
  font-size: 0.8em;
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .nav {
      li {
        margin: 5px 0 0 0;
        padding: 0 0 0 5px;
      }
    }
    li {
      padding: 0;
      a {
        display: inline-block;
        padding: 0.25em 0.5em;
      }
    }
  }
}

.col-third {
  form{
    @extend .well;
  }
  legend{
    font-size: $font-size-h5;
    text-transform: uppercase;
  }
}

.section-title {
  text-transform: uppercase;
  color: $gray-light;
}

.col-second {
  header {
    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }
  .content-tree {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {

      @extend .well;
      background-color: transparent;

      &:hover {
        @extend .well
      }
    }
  }
}

