// Core variables and mixins
@import "variables";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
// Reset and dependencies
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/print";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons";
// Core CSS
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/type";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/code";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
// Components
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navs";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navbar";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/breadcrumbs";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/pagination";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/pager";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/labels";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/badges";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/jumbotron";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/thumbnails";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/media";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/panels";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-embed";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/wells";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/close";
// Components w/ JavaScript
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/modals";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/tooltip";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/popovers";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/carousel";
// Utility classes
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

body {
  padding-top: $navbar-height + $grid-gutter-width;
}

.col-first {
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .nav {
      li {
        margin: 5px 0 0 0;
        padding: 0 0 0 5px;
      }
    }
    li {
      padding: 0;
      a {
        display: inline-block;
        padding: 0.25em 0.5em;
      }
    }
  }
}

.col-third {
  form {
    @extend .well;
  }
  legend {
    font-size: $font-size-h5;
    text-transform: uppercase;
  }
}

.section-title {
  text-transform: uppercase;
  color: $gray-light;
}

.col-second {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: 1em;
  }
  header {
    margin: 0;
    padding: 0;
  }
  .node {
    @extend .alert;
    position: relative;
    margin-bottom: $grid-gutter-width/2;
    padding: $grid-gutter-width;
    border-style: dotted;
    border-radius: 0;
    .content {
      margin: 0;
    }
    &:hover {
      .options {
        display: block;
      }
    }
    &.inactive {
      @extend .alert-info;
      background-color: transparent;
    }
    &.active {
      @extend .alert-info;
    }
    .options {
      @extend .alert;
      border: none;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      padding: 0;
    }
  }
}

