<form class="form" action="/{cms:translation.systemLocale()}/authenticate" method="post">
	<input type="hidden" name="interceptedUri" value="{interceptedUri}"/>
	<fieldset>
		<legend>
			<f:if condition="{exception}">
				<f:then>{exception.message}</f:then>
				<f:else>Login</f:else>
			</f:if>
		</legend>
		<div class="form-group">
			<label for="username">Username</label>
			<input class="form-control" type="text" id="username" name="username"
				   placeholder="Please enter your username"/>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input class="form-control" type="password" id="password" name="password" placeholder="Please enter your password"/>
		</div>
	</fieldset>
	<div class="form-group">
		<input type="submit" value="Authenticate" class="btn btn-primary"/>
	</div>
</form>